### Jekyll ###
_site/
.sass-cache/
.jekyll-metadata
scripts/
Gemfile.lock
.publish/

### Always-ignore files and folders ###
*.diff
*.err
*.log
*.orig
*.rej
*.swn
*.swo
*.swp
._*
*~

### Ignore packages ###
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

### Packages ###
node_modules/
bower_components

### Sass ###
.sass-cache/
*.css.map

### Linux ###
*~

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

### Linux ###
*~
.Trash-*

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### Lighthouse ###
validate/log.json

### NPM ###
package-lock.json

.idea/

firedata
images/banner_slide_01.jpg
images/banner_slide_02.jpg
images/gallery/
images/models_portrait/
images/models_square/
images/parallax/bottom.html
images/parallax/call_to_action.jpg
images/parallax/call_to_action_2.jpg
images/parallax/featured.html
images/parallax/map3.jpg
images/parallax/progress.html
images/parallax/table.html
images/recent_post1.jpg
images/recent_post2.jpg
images/recent_post3.jpg
images/recent_post4.jpg
images/recent_post5.jpg
images/side-image.jpg
images/slide01.png
images/slide02.png
images/team/
images/teaser01.jpg
images/teaser02.jpg
images/teaser03.jpg
images/top_carousel_01.jpg
images/top_carousel_02.jpg
images/top_carousel_03.jpg
images/top_carousel_04.jpg
images/top_carousel_05.jpg
images/top_carousel_06.jpg
images/top_carousel_07.jpg
images/top_carousel_08.jpg
images/top_carousel_09.jpg
images/top_carousel_10.jpg
images/top_slider_01.jpg
