---
layout: default
title: A Propos
menu: about
permalink: /a-propos/
---
<div id="about">
    <section class="ds section_padding_70 about-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <article class="post format-small-image with_background">

                        <div class="side-item content-padding">

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="item-media entry-thumbnail">
                                        <fire-img :url="about.amionglerie.photo"></fire-img>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="item-content .about-content">
                                        <h2 class="big topmargin_0 bottommargin_30">
                                            Ami Onglerie
                                        </h2>

                                       <p>
                                           <% about.amionglerie.text %>
                                       </p>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </article>
                </div>
            </div>
        </div>
    </section>

    <section class="ds parallax calltoaction section_padding_100"
             style="background-image: url('/images/parallax/bg_parallax.jpg')">
        <div class="container">
            <div class="col-sm-12">
                <article class="post format-small-image with_background">

                    <div class="side-item content-padding">

                        <div class="row">

                            <div class="col-md-6">
                                <div class="item-content .about-content">
                                    <h2 class="big topmargin_0 bottommargin_30">
                                        Notre Academie
                                    </h2>

                                    <p>
                                        <% about.academy.text %>
                                    </p>

                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="item-media entry-thumbnail">
                                    <fire-img :url="about.academy.photo"></fire-img>
                                </div>
                            </div>

                        </div>
                    </div>

                </article>
            </div>
        </div>
    </section>
    <section class="ds page_testimonials">
        <div class="container">

            <div class="row topmargin_40 bottommargin_40">
                <div class="col-sm-12 text-center">
                    <h2>
                        <span class="big">l'Équipe</span>
                        <br>
                        <span class="highlight muellerhoff">Message de l'equipe</span>
                    </h2>

                    <div class="testimonials-body">
                        <blockquote v-for="(member, index) in about.team" class="blockquote-big" v-bind:data-slide="index + 1">
                            <% member.message %>
                        </blockquote>
                    </div>

                    <div class="owl-carousel testimonials-carousel" data-margin="0" data-nav="true" data-loop="true"
                         data-center="true" data-items="3" data-responsive-lg="3" data-responsive-md="3"
                         data-responsive-sm="3" data-responsive-xs="3">

                        <div v-for="member in about.team" class="testimonial">
                            <div class="author-photo">
                                <fire-img :url="member.photo"></fire-img>
                            </div>
                            <div class="author-meta">
                                <span class="bold highlight"><% member.name %></span>
                                <br> <% member.role %>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
<script type="text/javascript" src='{{ "/scripts/vuejs/about.vue.js" | relative_url }}'></script>