<section id="contact" class="ds section_padding_70">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="big margin_0">Ecrivez-nous</h2>
                <h2 class="muellerhoff topmargin_5 bottommargin_50 highlight">Un Message</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="bottommargin_20">
                    <span class="grey fontsize_12 text-uppercase bold">addresse:</span>
                    <br> <% contact.senegal.address %>
                    <br> <% contact.suisse.address %>
                </p>
                <p class="bottommargin_20">
                    <span class="grey fontsize_12 text-uppercase bold">appelez nous:</span>
                    <br> <% contact.senegal.phone %>
                    <br> <% contact.suisse.phone %>
                </p>
                <p class="bottommargin_0">
                    <span class="grey fontsize_12 text-uppercase bold">Email:</span>
                    <br>
                    <a href="mainto:info@ami-onglerie.net">
                        <em><% contact.senegal.email %></em><br>
                        <em><% contact.suisse.email %></em>
                    </a>
                </p>
            </div>
            <div class="col-md-8">
                <form class="contact-form row" method="post" action="#">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="sr-only">Nom et Prénom
                                <span class="required">*</span>
                            </label>
                            <input type="text" aria-required="true" size="30" value="" name="name" id="name"
                                   class="form-control with-icon" placeholder="Nom">
                            <i class="rt-icon2-user"></i>
                        </div>
                        <div class="form-group">
                            <label for="email" class="sr-only">Email
                                <span class="required">*</span>
                            </label>
                            <input type="email" aria-required="true" size="30" value="" name="email" id="email"
                                   class="form-control with-icon" placeholder="email">
                            <i class="rt-icon2-mail"></i>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="sr-only">Numero de Téléphone
                                <span class="required">*</span>
                            </label>
                            <input type="text" aria-required="true" size="30" value="" name="phone" id="phone"
                                   class="form-control with-icon" placeholder="Telephone">
                            <i class="rt-icon2-phone5"></i>
                        </div>
                        <div class="form-group bottommargin_0">
                            <label for="theme" class="sr-only">Objet
                                <span class="required">*</span>
                            </label>
                            <input type="text" aria-required="true" size="30" value="" name="objet" id="theme"
                                   class="form-control with-icon" placeholder="Objet">
                            <i class="rt-icon2-bulb"></i>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="message" class="sr-only">Message</label>
                            <textarea aria-required="true" rows="6" cols="45" name="message" id="message"
                                      class="form-control with-icon" placeholder="Message"></textarea>
                            <i class="rt-icon2-pen"></i>
                        </div>

                        <button type="submit" id="contact_form_submit" name="contact_submit"
                                class="theme_button color1 bottommargin_0">Envoyer
                        </button>
                        <button type="reset" id="contact_form_clear" name="contact_clear"
                                class="theme_button inverse bottommargin_0">Effacer
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
