<div id="footer">
    <section class="ds ms section_padding_30 page_social">
        <div class="container">
            <div class="row topmargin_20 bottommargin_10">
                <div class="col-sm-12 text-center">
                    <div class="page_social_icons">
                        <a class="social-icon color-icon soc-facebook"
                           href="https://www.facebook.com/amionglerie/"
                           target="_blank" title="Facebook"></a>
                        <a class="social-icon color-icon soc-twitter"
                           target="_blank"
                           href="#"
                           title="Twitter"></a>
                        <a class="social-icon color-icon soc-instagram"
                           target="_blank"
                           href="https://www.instagram.com/amiongle/"
                           title="Instagram"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="ds page_footer section_padding_70">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 to_animate" data-animation="scaleAppear">
                    <div class="widget widget_text">
                        <a href="{{ site.baseurl }}/" class="logo logo_image">
                            <img src="{{ site.baseurl }}/images/logo.png" alt="">
                        </a>
                        <p>
                            <% footer.description %>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 to_animate" data-animation="scaleAppear">
                    <h3 class="widget-title">Facebook</h3>
                    <div class="fb-page" data-href="https://www.facebook.com/amionglerie/"
                         data-tabs="messages" data-width="360" data-height="360" data-small-header="false"
                         data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/amionglerie/"
                                    class="fb-xfbml-parse-ignore"><a
                                href="https://www.facebook.com/amionglerie/">Amionglerie</a></blockquote>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 to_animate" data-animation="scaleAppear">
                    <div class="widget widget_flickr">
                        <h3 class="widget-title">Instagram</h3>
                        <ul id="flickr"></ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <section class="ls page_copyright section_padding_20">
        <div class="container">
            <div class="row topmargin_5 bottommargin_5">
                <div class="col-sm-12 text-center">
                    <p class="darklinks">&copy; Ami Onglerie 2018 | Created with
                        <i class="rt-icon2-heart highlight"></i> by
                        <a href="http://madi-corp.net/">MADICORP</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
