<div id="footer">
    <section class="ds ms section_padding_30 page_social">
        <div class="container">
            <div class="row topmargin_20 bottommargin_10">
                <div class="col-sm-12 text-center">
                    <div class="page_social_icons">
                        <a class="social-icon color-icon soc-facebook" href="#" title="Facebook"></a>
                        <a class="social-icon color-icon soc-twitter" href="#" title="Twitter"></a>
                        <a class="social-icon color-icon soc-instagram" href="#" title="Instagram"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="ds page_footer section_padding_70">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 to_animate" data-animation="scaleAppear">
                    <div class="widget widget_text">
                        <a href="/" class="logo logo_image">
                            <img src="/images/logo.png" alt="">
                        </a>
                        <p>
                           <% footer.description %>
                        </p>
                        <div class="size_small">
                            <i class="fa fa-cc-visa"></i>
                            <i class="fa fa-cc-discover"></i>
                            <i class="fa fa-cc-mastercard"></i>
                            <i class="fa fa-cc-amex"></i>
                            <i class="fa fa-cc-paypal"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-offset-1 col-lg-4 to_animate" data-animation="scaleAppear">
                    <div class="row footer_lists">
                        <div class="col-xs-6">
                            <h3 class="widget-title">Navigation</h3>
                            <div>
                                <ul class="list2 bottommargin_0">
                                    <li class="active">
                                        <a href="/">Accueil</a>
                                    </li>

                                    <li>
                                        <a href="/a-propos">A Propos</a>
                                    </li>
                                    <!-- eof about -->

                                    <li>
                                        <a href="/services">Nos Services</a>
                                    </li>

                                    <li>
                                        <a href="/boutique">La Boutique</a>
                                    </li>

                                    <li>
                                        <a href="/rendez-vous">Rendez-Vous</a>
                                    </li>

                                    <li>
                                        <a href="/blog">Blog</a>
                                    </li>

                                    <!-- contacts -->
                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>
                                    <!-- eof contacts -->
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <h3 class="widget-title">Useful Links</h3>
                            <div>
                                <ul class="list2 bottommargin_0">
                                    <li class="">
                                        <a href="%c3%a2%c2%84%c2%96.html">Model Agencies listings</a>
                                    </li>
                                    <li class="">
                                        <a href="#">Banner exchange</a>
                                    </li>
                                    <li class="">
                                        <a href="#">Model Courses schools</a>
                                    </li>
                                    <li class="">
                                        <a href="#">Female blogs</a>
                                    </li>
                                    <li class="">
                                        <a href="#">Makeup courses</a>
                                    </li>
                                    <li class="">
                                        <a href="#">Fashion blogs</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-3 col-lg-offset-1 col-lg-3 to_animate" data-animation="scaleAppear">
                    <div class="widget widget_banner">


                        <div class="vertical-item content-absolute ds">
                            <div class="item-media">
                                <img src="/images/models_square/01.jpg" alt="">
                            </div>
                            <div class="item-content">
										<span class="main_bg_color">
											New
										</span>
                                <h2>
                                    Model
                                    <br> Courses
                                </h2>
                            </div>
                            <div class="media-links">
                                <a href="#" class="abs-link"></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>

    <section class="ls page_copyright section_padding_20">
        <div class="container">
            <div class="row topmargin_5 bottommargin_5">
                <div class="col-sm-12 text-center">
                    <p class="darklinks">&copy; Ami Onglerie 2018 | Created with
                        <i class="rt-icon2-heart highlight"></i> by
                        <a href="http://madi-corp.net/">MADICORP</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript" src='{{ "/scripts/vuejs/footer.vue.js" | relative_url }}'></script>