<div id="footer">
    <section class="ds ms section_padding_30 page_social">
        <div class="container">
            <div class="row topmargin_20 bottommargin_10">
                <div class="col-sm-12 text-center">
                    <div class="page_social_icons">
                        <a class="social-icon color-icon soc-facebook" href="#" title="Facebook"></a>
                        <a class="social-icon color-icon soc-twitter" href="#" title="Twitter"></a>
                        <a class="social-icon color-icon soc-instagram" href="#" title="Instagram"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="ds page_footer section_padding_70">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 to_animate" data-animation="scaleAppear">
                    <div class="widget widget_text">
                        <a href="{{ site.baseurl }}/" class="logo logo_image">
                            <img src="{{ site.baseurl }}/images/logo.png" alt="">
                        </a>
                        <p>
                            <% footer.description %>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 to_animate" data-animation="scaleAppear">
                    <h3 class="widget-title">Facebook</h3>
                    <div class="fb-page" data-href="https://www.facebook.com/Solale-MA-327656004067116/"
                         data-tabs="messages" data-width="360" data-height="360" data-small-header="false"
                         data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/Solale-MA-327656004067116/"
                                    class="fb-xfbml-parse-ignore"><a
                                href="https://www.facebook.com/Solale-MA-327656004067116/">Solale MA</a></blockquote>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 to_animate" data-animation="scaleAppear">
                    <div class="widget widget_flickr">
                        <h3 class="widget-title">Instagram</h3>
                        <ul id="flickr"></ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <section class="ls page_copyright section_padding_20">
        <div class="container">
            <div class="row topmargin_5 bottommargin_5">
                <div class="col-sm-12 text-center">
                    <p class="darklinks">&copy; Ami Onglerie 2018 | Created with
                        <i class="rt-icon2-heart highlight"></i> by
                        <a href="http://madi-corp.net/">MADICORP</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.11&appId=647290955385656';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src='{{ "/scripts/vuejs/footer.vue.js" | relative_url }}'></script>