<section class="page_topline ds ms gorizontal_padding table_section">
    <div class="container-fluid with_border">
        <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-2 text-xs-center text-left text-lg-right">
                <a href="#">
                    <em>info@amionglerie.com</em>
                </a>
            </div>
            <div class="col-sm-4 col-md-6 col-lg-8 text-center">
                <div class="page_social_icons">
                    <a class="social-icon color-icon soc-facebook"
                       href="https://www.facebook.com/amionglerie/"
                       target="_blank" title="Facebook"></a>
                    <a class="social-icon color-icon soc-twitter"
                       target="_blank"
                       href="#"
                       title="Twitter"></a>
                    <a class="social-icon color-icon soc-instagram"
                       target="_blank"
                       href="https://www.instagram.com/amiongle/"
                       title="Instagram"></a>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2 text-xs-center text-right text-lg-left">
                <div class="highlight inline-block fontsize_10 thin">(+221) 77 096 48 59</div>
                <div class="fontsize_10 grey topmargin_-5">7/7 Appelez nous !</div>
            </div>

        </div>
    </div>
</section>

<header class="page_header header_darkgrey columns_padding_0 table_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-sm-pull-2 col-md-pull-0 text-center">
                <a href="{{ site.baseurl }}/" class="logo logo_image">
                    <img src="{{ site.baseurl }}/images/logo.png" alt="">
                </a>
            </div>
            <div class="col-md-9 col-sm-push-2 col-md-push-0">
                <!-- main nav start -->
                <nav class="mainmenu_wrapper">
                    <ul class="mainmenu nav sf-menu">
                        <li class="{% if page.menu == 'home' %}active{% endif %}">
                            <a href="{{ site.baseurl }}/">Accueil</a>
                        </li>

                        <li class="{% if page.menu == 'about' %}active{% endif %}">
                            <a href="{{ site.baseurl }}/a-propos">A Propos</a>
                        </li>
                        <!-- eof about -->

                        <li class="{% if page.menu == 'services' %}active{% endif %}">
                            <a href="{{ site.baseurl }}/services">Nos Services</a>
                        </li>

                        <li class="{% if page.menu == 'shop' %}active{% endif %}">
                            <a href="{{ site.baseurl }}/boutique">La Boutique</a>
                        </li>

                        <!--li class="{% if page.menu == 'appointment' %}active{% endif %}">
                            <a href="{{ site.baseurl }}/rendez-vous">Rendez-Vous</a>
                        </li-->

                        <li class="{% if page.menu == 'gallerie' %}active{% endif %}">
                            <a href="{{ site.baseurl }}/gallerie">Gallerie</a>
                        </li>

                        <!-- contacts -->
                        <li class="{% if page.menu == 'contact' %}active{% endif %}">
                            <a href="{{ site.baseurl }}/contact">Contact</a>
                        </li>
                        <!-- eof contacts -->

                    </ul>
                </nav>
                <!-- eof main nav -->
                <span class="toggle_menu">
                    <span></span>
                </span>
            </div>
        </div>
    </div>
</header>