<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index, follow">

    <link rel="apple-touch-icon" sizes="180x180" href='{{ "/images/favicons/apple-touch-icon.png" | relative_url }}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{{ "/images/favicons/favicon-32x32.png" | relative_url }}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{{ "/images/favicons/favicon-16x16.png" | relative_url }}'>
    <link rel="mask-icon" href='{{ "/images/favicons/safari-pinned-tab.svg" | relative_url }}' color="#5bbad5">

    <title>Ami Onglerie Dakar Sénégal, Manucure Pedicure et Nail Art | {% if page.title %}{{ page.title }}{% endif %}</title>
    <meta name="description" content="Bienvenue sur Ami Onglerie située à Dakar Sénégal. Venez apprécier l'ensemble de nos soins : manucure, Pedicure, modelages, Remplissage gel déco et nails art.">
    <meta name="keywords" content="Ami Onglerie, Onglerie, Dakar, Sénégal, Manucure, Pedicure, Nail Art, Nail, modelages, remplissage gel">
    <meta name="author" content="Madicorp">
    <meta name="revisit-after" content="3 month">

    <meta property="og:type" content="business.business">
    <meta property="og:title" content="Ami Onglerie">
    <meta property="og:url" content="https://amionglerie.com">
    <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/ami-onglerie.appspot.com/o/about%2Fami_onglerie_manager.jpg">
    <meta property="business:contact_data:street_address" content="Siprés 2 villa n° 43">
    <meta property="business:contact_data:locality" content="Dakar">
    <meta property="business:contact_data:region" content="Dakar">
    <meta property="business:contact_data:postal_code" content="">
    <meta property="business:contact_data:country_name" content="SÉNÉGAL">

    <link rel="stylesheet" href='{{ "/css/bootstrap.min.css" | relative_url }}'>
    <link rel="stylesheet" href='{{ "/css/main.css" | relative_url }}'>
    <link rel="stylesheet" href='{{ "/css/animations.css" | relative_url }}'>
    <link rel="stylesheet" href='{{ "/css/fonts.css" | relative_url }}'>
    <script src='{{ "/scripts/vendor/compressed.js" | relative_url }}'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.js"></script>
    <script src="//www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
    <script src="//unpkg.com/vuefire/dist/vuefire.js"></script>
    <script src="//unpkg.com/vue-infinite-scroll@2.0.2/vue-infinite-scroll.js"></script>
    <script type="text/javascript" src='{{ "/scripts/vuejs/firebase.config.js" | relative_url }}'></script>
    <script src='{{ "/scripts/vendor/modernizr-2.6.2.min.js"  | relative_url }}'></script>
    <script src="https://smtpjs.com/v2/smtp.js"></script>
    <!--[if lt IE 9]>
    <script src='{{ "/scripts/vendor/html5shiv.min.js"| relative_url }}'></script>
    <script src='{{ "/scripts/vendor/respond.min.js" | relative_url }}'></script>
    <![endif]-->

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="manifest" href='{{ "/manifest.json" | relative_url }}'>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113086587-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-113086587-1');
    </script>
</head>
