<section class="page_topline ds ms gorizontal_padding table_section">
    <div class="container-fluid with_border">
        <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-2 text-xs-center text-left text-lg-right">
                <a href="#">
                    <em>info@ami-onglerie.sn</em>
                </a>
            </div>
            <div class="col-sm-4 col-md-6 col-lg-8 text-center">
                <div class="page_social_icons">
                    <a class="social-icon color-icon soc-facebook" href="#" title="Facebook"></a>
                    <a class="social-icon color-icon soc-twitter" href="#" title="Twitter"></a>
                    <a class="social-icon color-icon soc-instagram" href="#" title="Instagram"></a>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2 text-xs-center text-right text-lg-left">
                <div class="highlight inline-block fontsize_10 thin">(+221) 33 000 00 25</div>
                <div class="fontsize_10 grey topmargin_-5">7/7 Appelez nous !</div>
            </div>

        </div>
    </div>
</section>

<header class="page_header header_darkgrey columns_padding_0 table_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-sm-pull-2 col-md-pull-0 text-center">
                <a href="/" class="logo logo_image">
                    <img src="/images/logo.png" alt="">
                </a>
            </div>
            <div class="col-md-9 col-sm-push-2 col-md-push-0">
                <!-- main nav start -->
                <nav class="mainmenu_wrapper">
                    <ul class="mainmenu nav sf-menu">
                        <li class="{% if page.menu == 'home' %}active{% endif %}">
                            <a href="/">Accueil</a>
                        </li>

                        <li class="{% if page.menu == 'about' %}active{% endif %}">
                            <a href="/a-propos">A Propos</a>
                        </li>
                        <!-- eof about -->

                        <li class="{% if page.menu == 'services' %}active{% endif %}">
                            <a href="/services">Nos Services</a>
                        </li>

                        <li class="{% if page.menu == 'shop' %}active{% endif %}">
                            <a href="/boutique">La Boutique</a>
                        </li>

                        <li class="{% if page.menu == 'appointment' %}active{% endif %}">
                            <a href="/rendez-vous">Rendez-Vous</a>
                        </li>

                        <li class="{% if page.menu == 'blog' %}active{% endif %}">
                            <a href="/blog">Blog</a>
                        </li>

                        <!-- contacts -->
                        <li class="{% if page.menu == 'contact' %}active{% endif %}">
                            <a href="/contact">Contact</a>
                        </li>
                        <!-- eof contacts -->

                    </ul>
                </nav>
                <!-- eof main nav -->
                <span class="toggle_menu">
                    <span></span>
                </span>
            </div>
        </div>
    </div>
</header>