<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<!--[if lt IE 9]>
<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.
</div>
<![endif]-->

<div class="preloader">
    <div class="preloader_image"></div>
</div>

<!-- search modal -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
    <div class="widget widget_search">
        <form method="get" class="searchform form-inline" action="http://webdesign-finder.com/">
            <div class="form-group">
                <input type="text" value="" name="search" class="form-control" placeholder="Type search keyword here..."
                       id="modal-search-input">
            </div>
            <button type="submit" class="theme_button input_button">Search</button>
        </form>
    </div>
</div>

<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
    <div id="box_wrapper">

        <!-- template sections -->

        {% include header.html %}

        <div class="page-content">
            <div class="wrapper">
                {{ content }}
            </div>
        </div>

        {% include footer.html %}

    </div>
    <!-- eof #box_wrapper -->
</div>
<!-- eof #canvas -->


<script src='{{ "/scripts/main.min.js" | relative_url }}'></script>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.11&appId=647290955385656';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% if page.menu == 'home' %}
<!--home scritps-->
<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript" src='{{ "/scripts/vuejs/slider.vue.js" | relative_url }}'></script>
<script type="text/javascript" src='{{ "/scripts/vuejs/contact.vue.js" | relative_url }}'></script>
<script type="text/javascript" src='{{ "/scripts/vuejs/home.vue.js" | relative_url }}'></script>
<!--\home scritps-->
{% endif %}
{% if page.menu == 'about' %}
<!--about scritps-->
<script type="text/javascript" src='{{ "/scripts/vuejs/about.vue.js" | relative_url }}'></script>
<!--\about scritps-->
{% endif %}
{% if page.menu == 'shop' %}
<!--shop scritps-->
<script type="text/javascript" src='{{ "/scripts/vuejs/shop.vue.js" | relative_url }}'></script>
<!--\shop scritps-->
{% endif %}
{% if page.menu == 'services' %}
<!--services scritps-->
<script type="text/javascript" src='{{ "/scripts/vuejs/services.vue.js" | relative_url }}'></script>
<!--\services scritps-->
{% endif %}
{% if page.menu == 'gallerie' %}
<!--gallery scritps-->
<script type="text/javascript" src='{{ "/scripts/vuejs/gallery.vue.js" | relative_url }}'></script>
<!--\gallery scritps-->
{% endif %}
{% if page.menu == 'contact' %}
<!--\contact scritps-->
<!-- Google Map Script -->
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTwYSMRGuTsmfl2z_zZDStYqMlKtrybxo"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript" src='{{ "/scripts/vuejs/contact.vue.js" | relative_url }}'></script>
<!--\contact scritps-->
{% endif %}
<script type="text/javascript" src='{{ "/scripts/vuejs/footer.vue.js" | relative_url }}'></script>
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('{{ "/sw.js" | relative_url }}').then(function () {
            console.log("Service Worker Registered");
        });
    }
</script>
</body>

</html>
