<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<!--[if lt IE 9]>
<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.
</div>
<![endif]-->

<div class="preloader">
    <div class="preloader_image"></div>
</div>

<!-- search modal -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
    <div class="widget widget_search">
        <form method="get" class="searchform form-inline" action="http://webdesign-finder.com/">
            <div class="form-group">
                <input type="text" value="" name="search" class="form-control" placeholder="Type search keyword here..."
                       id="modal-search-input">
            </div>
            <button type="submit" class="theme_button input_button">Search</button>
        </form>
    </div>
</div>

<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
    <div id="box_wrapper">

        <!-- template sections -->

        {% include header.html %}

        <div class="page-content">
            <div class="wrapper">
                {{ content }}
            </div>
        </div>

        {% include footer.html %}

    </div>
    <!-- eof #box_wrapper -->
</div>
<!-- eof #canvas -->


<script src='{{ "/scripts/vendor/compressed.js" | relative_url }}'></script>
<script async src='{{ "/scripts/main.min.js" | relative_url }}'></script>
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('{{ "/sw.js" | relative_url }}').then(function () {
            console.log("Service Worker Registered");
        });
    }
</script>
</body>

</html>
